*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/*Formularios*/

.container-form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cont-form{
    background-color: #AEADAD;
    border-radius: 30px;
    padding: 40px;
}
.cont-form img{
    width: 100px;
    height: 100px;
    margin-left: 110px;
}
h2{
    text-align: center;
    color: #fdfbfb;
    padding: 10px;
}
input{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.519);
}
.check{
    width: 15px;
    height: 15px;
    display: inline;
}
label{
    color: white;
    font-size: 20px;
}
label:hover{
    color: #b8b8b8;
}
form a{
    color: white;
    text-decoration: none;
    margin-left: 45px;
}
form a:hover{
    color: #b8b8b8;
}
.boton{
    width: 100%;
    border-radius: 20px;
    background-color: #ab0a3d;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #440412;
}
.boton:active{
    background-color: #440412;
}

/*Tablas*/

.container-table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.table {
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}
.table tr {
    background-color: rgba(192, 192, 192, 0.293);
    border: 2px solid black;
}
.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.table thead th{ 
    text-transform: uppercase;
    background-color: black;
    color: #fdfbfb;
}
.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.table tbody td input {
    background-color: white;
}
@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}
